/* Resets */

/*  Variables - Branding */
:root {
  --primary-color: #cc0000;
  --secondary-color: #a0a0a0;
  --black: #000000;
  --white: #ffffff;
  --ffamily: 'Open Sans', sans-serif;
}


/* resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, img, div, section, ul, ol, li {
  font-weight: normal;
}

/* Helpers */
.text-right {
  text-align: right !important; }
.text-left {
  text-align: left !important; }
.text-center {
  text-align: center !important; }
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.pt-0 {
  padding-top: 0 !important;
}
.ml20n {
  margin-left: -20px !important;
}
.mr20n {
  margin-right: -20px !important;
}
.mr10n {
  margin-right: -10px !important;
}
.ml10n {
  margin-left: -10px !important;
}
.text-black {
  color: var(--black) !important;
}
.w100 {
  width: 100%;
}
.safezone {
  padding: 10px;
}





/* Custom Styles */

h1 {
  margin-left: 20px;
}

body {
  background: #eee url("../images/page-background.png") top left repeat;
  font-family: var(--ffamily);
  font-size: 1rem;
}


#wrapper {
  width:960px;
  margin: 0 auto;
}
.header {
  background-color: var(--black);
  border-bottom: 10px solid #c00;
  display: flex;
  justify-content: space-between;
}
.header .gnav {
  align-self: center;
}
.gnav ul { 
  list-style: none; }
.gnav ul li { 
  display: inline-block; 
  border-right: 1px solid #ccc; 
  padding: 0 10px;
  color: var(--secondary-color);
  font-size: 0.8rem; }
.gnav ul li:last-child { 
  border: none; 
  padding-right: 20px; }  
.gnav li a {     
  color: var(--white);
  text-decoration: none;
  font-size: 0.7rem; }
.gnav li a:hover {
  color: var(--primary-color);
} 


.page-title {
  font-size: 1.4rem;
  font-size: 1.2rem;
    font-weight: 500;
    padding-bottom:0.5rem;
    border-bottom: 1px dotted var(--secondary-color); 
}

.iwrapper {
  display: flex;
  flex-wrap: wrap;
}
.iwrapper .item {
  border: 0px solid red; 
   background-color: var(--white);
   padding: 15px;
   border-radius: 3px;
   margin: 10px 0;
}
.iwrapper .item:first-child {
  width: 100%;
}
.iwrapper .item:not(:first-child) {
  width: 50%;

}


/* Form Styles */
input, select, textarea {
  border: 1px solid #999;
  border-radius: 2px;
  padding: 3px 2px;
  margin: 0;
}
input[type="button"] {
    color: var(--white);
    font-size: 0.8rem;
    cursor: pointer;
    padding: 3px 10px;
    text-align: center;
    background-color: var(--primary-color);
    border: 1px outset var(--primary-color);
}


.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0.8rem;
}
.travel-plans fieldset {
  width: 45%;
}
fieldset {
  border: 1px dotted #ccc;
  margin-right: 20px;
  padding: 10px;
}
fieldset legend {
  margin: 0 10px 0 0px;
  padding: 10px;
  font-weight: bold;
}
.form-item {
  border: 0px solid blue;
  margin-bottom: 10px;
}
.form-item label {
  display: block;
}
.form-item .select2-container {
  width: 100%;
}
.form-item .select2-result-label {
  font-size: 0.7rem;
}



.pre-cont {
  font-size: 0.8rem;
  padding: 10px;
}
.pre-cont ul {
  list-style: none;
}
.pre-cont ul li {
  display: inline-block;
  background-color: #eee;
  margin: 0 1rem 1rem 0;
  padding: 5px  0.5rem;
  text-align: center;
  color: var(--primary-color);
}
.pre-cont ul li span {
  display: block;
  color: var(--black);
}


.fxc-cont {
  font-weight: 0.8rem;
}

 .item-1 ul, .form-fields {
 list-style: none;
}
 .item-1 ul li, .form-fields li {
  display: inline-block;
  border:0px solid red;
}

.item-1 ul li label, .form-fields li label {
  display: block;
}


.footer {
  border-top: 1px dotted #999;
  padding: 10px 0;
}
.footer ul {
  list-style: none;
}
.footer ul li {
  display: inline-block;
  border-right: 1px solid #999;
  padding: 0 1rem;
  font-size: 0.7rem;
}
.footer ul li a {
  text-decoration: none;
  color: var(--primary-color);
}
.footer ul li a:hover {
  color: var(--black);
}