/* Resets */

/*  Variables - Branding */
:root {
  --primary-color: #cc0000;
  --secondary-color: #a0a0a0;
  --black: #000000;
  --white: #ffffff;
  --ffamily: 'Open Sans', sans-serif;
}


/* resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, img, div, section, ul, ol, li {
  font-weight: normal;
}

h3 {
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

/* Helpers */
.text-right {
  text-align: right !important; }
.text-left {
  text-align: left !important; }
.text-center {
  text-align: center !important; }
.float-right {
    float: right;
}
.text-white {
  color: var(--white) !important;
}
.float-left {
    float: left;
}
.pt-0 {
  padding-top: 0 !important;
}
.ml20n {
  margin-left: -20px !important;
}
.mr20n {
  margin-right: -20px !important;
}
.mr10n {
  margin-right: -10px !important;
}
.ml10n {
  margin-left: -10px !important;
}
.text-black {
  color: var(--black) !important;
}
.w100 {
  width: 100%;
}
.safezone {
  padding: 10px;
}





/* Custom Styles */

h1 {
  margin-left: 20px;
}

body {
  background: #eee url("../images/page-background.png") top left repeat;
  font-family: var(--ffamily);
  font-size: 1rem;
}


#wrapper {
  width:960px;
  margin: 0 auto;
}
.header {
  background-color: var(--black);
  border-bottom: 10px solid #c00;
  display: flex;
  justify-content: space-between;
}
.header .gnav {
  align-self: center;
}
.gnav ul { 
  list-style: none; }
.gnav ul li { 
  display: inline-block; 
  border-right: 1px solid #ccc; 
  padding: 0 7px 0 2px;
  color: var(--secondary-color);
  font-size: 0.8rem; }
.gnav ul li:last-child { 
  border: none; 
  padding-right: 20px; }  
.gnav li a {     
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 0.7rem; }
.gnav li a:hover {
  color: var(--white);
} 

.noti-cont {
  position: relative;
}
.noti-show {
  position: absolute;
  padding: 15px;
  top: 21px;
  right: 0px;
  width: 200px;
  background-color: rgba(255,255,255,0.9);
  box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
  border-radius: 3px;
  min-height: 200px;
  text-align: left;
}


.page-title {
  font-size: 1.2rem;
  font-weight: 500;
  border-bottom: 1px dotted var(--secondary-color);
  background-color: white;
  padding: 10px;
}

.iwrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.iwrapper .item {
  border: 0px solid red; 
   background-color: var(--white);
   padding: 15px;
   border-radius: 3px;
   margin: 1rem 0;
}

/* Form Styles */
input, select, textarea {
  border: 1px solid #999;
  border-radius: 2px;
  padding: 7px 3px;
  margin: 0;
}
input[type="button"] {
  color: var(--white);
  font-size: 0.8rem;
  cursor: pointer;
  padding: 0.5rem 1.1rem;
  text-align: center;
  background-color: var(--primary-color);
  border: 1px outset var(--primary-color);
  text-transform: uppercase;
  margin-right: 1rem;
  border-radius: 3px;
}


.travel-plans .form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0.8rem;
}

fieldset {
  border: 1px dotted #ccc;
  padding: 10px 10px 20px;
  border-radius: 3px;
}
.travel-plans fieldset:first-child {
  margin-right: 10px;
  width: 51%;
}
fieldset legend {
  padding: 0 10px 0 10px;
}
.form-item {
  border: 0px solid blue;
  margin-bottom: 10px;
}
.form-item label {
  display: block;
}
.form-item .select2-container {
  width: 100%;
}
.form-item .select2-result-label {
  font-size: 0.7rem;
}



.pre-cont {
  font-size: 0.8rem;
  padding: 10px;
}
.pre-cont ul {
  list-style: none;
}
.pre-cont ul li, .fxrates li {
  display: inline-block;
  background-color: #eee;
  margin: 0 1rem 1rem 0;
  padding: 0.5rem;
  text-align: center;
  color: var(--primary-color);
  vertical-align: middle;
  border-radius: 3px;
  min-width: 100px;
}
.pre-cont ul li.active {
  background-color: #fffeb3;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    border: 1px solid greenyellow;
}
.pre-cont ul li span, .fxrates li span {
  display: block;
  color: var(--black);
}


.fxc-cont {
  font-weight: 0.8rem;
}

.fxc-cont ul li {
  margin-right: 1rem;
  font-size: 0.8rem;
}

.calc-cont ul {
  margin: 10px 0;
}
.calc-cont fieldset:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
 .item-1 ul, .form-fields {
 list-style: none;
}
 .item-1 ul li {
  display: inline-block;
}
.fxc-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 15px;
  margin-bottom: 10px;
}
.fxc-form fieldset {
  width: 100%;
}
.fxc-form li img {
  vertical-align: middle;
}

.item-1 .fxc-form ul li {
  margin-right: 1rem;
}
.item-1 ul li label, .form-fields li label {
  display: block;
}

.form-fields li {
  display: inline-table;
  border:0px solid red;
}

.form-fields .select2-container, .form-fields input.inputfield {
  min-width: 180px;
  margin-right: 1rem;
}
.btn-cont {
  padding: 1rem;
  text-align: center;
  border-bottom: 1px dotted #ccc;
  margin-bottom: 1rem;
}
.form-fields li {
  width: 47%;
  padding-left: 10px; 
}
.form-fields li:first-child {
  margin-right: 2%;
}
.travel-plans .form-fields li:first-child {
    margin-right: 0;
}

.footer {
  border-top: 1px dotted #999;
  padding: 10px 0;
}
.footer ul {
  list-style: none;
}
.footer ul li {
  display: inline-block;
  border-right: 1px solid #999;
  padding: 0 1rem;
  font-size: 0.7rem;
}
.footer ul li a {
  text-decoration: none;
  color: var(--primary-color);
}
.footer ul li a:hover {
  color: var(--black);
}


.error-msg {
  font-size: 11px;
  color: red;
  display: none;
}
.error-field {
  border: 1px solid red;
}


/* results */
.results {
  text-align: center;
}
.results table {
  width: 100%;
}
.results table th, .results table td {
  padding: 5px 0;
}
.results table th {
  font-weight: bold;
  font-size: 1rem;
  text-align: left;
}
.results table td {
  border-bottom: 1px dotted #ccc;
  text-align: left;
}
.results table td.text-right, .results table th.text-right {
  text-align: right;
  padding-right: 1rem; 
}
.results table td.text-center, .results table th.text-center {
  text-align: center;
}


.calc-cont {
  font-size: 0.8rem;
}
.fxrates {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fxresult {
  text-align: center;
  border-top: 1px dotted #ccc;
  margin: 2rem 0;
  padding-top: 2rem;
}
.fxresult p {
  font-size: 1.5rem;
}
.fxresult p:last-child {
  font-size: 3rem;
}

/* Fixes */
.s2select { min-width: 190px; }

